@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home - Agenda";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewBag.Title</title>
</head>
<body>
    <div>
        <h2 class="my-5">@ViewBag.Title</h2>

        @{
            Html.RenderAction("Index", "Appointments");
        }
    </div>
</body>
</html>


