@model agendaCabinetCourtiers2.Models.customers

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteCustomer" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="deleteCustomer">Confirmation</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @using (Html.BeginForm("DeleteCustomer", "Customers", new { id = Model.idCustomers }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <h4 class="fs-5">Etes-vous sûr de vouloir supprimer ce client ?</h4>
                    <p class="fw-bolder text-danger my-3">@Html.DisplayFor(model => model.lastname) @Html.DisplayFor(model => model.firstname)</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Supprimer</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                </div>
            }
        </div>
    </div>
</div>
