@model agendaCabinetCourtiers2.Models.brokers

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="titleDeleteBroker" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="titleDeleteBroker">Supprimer le courtier ID : @Html.DisplayFor(model => model.idBroker)</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <h4>Etes-vous sûr de vouloir supprimer ce courtier ?</h4>
                <h5 class="text-center">@Html.DisplayFor(model => model.lastname) @Html.DisplayFor(model => model.firstname)</h5>
            </div>
            <div class="modal-footer">
                @Html.ActionLink("Supprimer", "DeleteBroker", new { id = Model.idBroker }, new { @class="btn btn-danger" })
                <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>
